#userMemberStatus
  .col-sm-4
    - is_member = @user.member? ? 'Yes' : 'No'
    = field_or_none("#{t('users.show.member')}", "#{is_member}",
                    label_class: 'standard-label',
                    value_class: is_member)
  .col-sm-4
    = expire_date_label_and_value(@user)

  .col-sm-4
    = pay_member_fee_link(@user)

  - if current_user.admin?
    -# .row
    .col-sm-8
      = payment_notes_label_and_value(@user)

    .col-sm-4
      %a.btn.btn-warning.btn-xs(data-toggle='modal' data-target='#editStatusModal')
        = t('users.user.edit_member_status')
